{% extends 'seller/core/base.html' %}

{% block title %}Order Confirmations{% endblock %}

{% block content %}
{% for c in confirmations %}
<div class="container">

    <div class="card mb-2">
        <div class="card-body hover:bg-yellow-100">
            <div class="row">
                <h5>{{forloop.counter}}</h5>
                <div class="col-sm-3 text-center align-self-center">
                    {% if c.product.image %}
                    <a href="{% url 'app:product-detail' c.product.id %}"><img src="{{c.product.image.url}}" alt=""
                            srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></a>
                    {% endif %}
                </div>
                <div class="col-sm-9">

                    <h5>Product: {{c.product.name}}</h5>
                    <p class="fw-bold">Price: Rs.{{c.product.price}}</p>
                    <p class="fw-bold">Discounted Price: Rs. {{c.product.discountedPrice}}</p>
                    <p class="fw-bold">Order-Status: {{c.order_status}}</p>
                    <p class="fw-bold">Quantity: Rs.{{c.quantity}}</p>
                    <p class="fw-bold">Total-cost: Rs.{{c.total_cost}}</p>
                    <br>
                    <h3 class="text-xl"><b>Customer Details</b></h3>
                    <p class="fw-bold">Name: {{c.customer.name}}</p>
                    <p class="fw-bold">Locality: {{c.customer.locality}}</p>
                    <p class="fw-bold">City: {{c.customer.city}}</p>
                    <p class="fw-bold">Zipcode: {{c.customer.zipcode}}</p>
                    <p class="fw-bold">State: {{c.customer.state}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}