{% extends 'seller/core/base.html' %}
{% load static %}
{% block title %}MyListings{% endblock %}

{% block content %}
{% if products %}
    {% for p in products %}
    <div class="card mb-2">
        <div class="card-body hover:bg-yellow-100">
            <div class="row">
                <h5>{{forloop.counter}}</h5>
                <div class="col-sm-3 text-center align-self-center">
                    {% if p.image %}
                    <img src="{{p.image.url}}" alt=""
                        srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    
                    <h5>Product: {{p.name}}</h5>
                    <p class="fw-bold">Price: Rs.{{p.price}}</p>
                    <p class="fw-bold">Discounted Price: Rs. {{p.discountedPrice}}</p>
                    <!-- <p>Quantity: {{p.quantity}}</p>
                    <p>Status: {{p.order_status}}</p> -->
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="container">
    <p class="text-center text-3xl">No Pending products</p>
    <br>
    <img src="{% static 'images/empty/puppy3.jpg' %}" alt="..." class="mx-auto">
</div>
{% endif %}
{% endblock %}