{% extends 'seller/core/base.html' %}
{% load static %}
{% block title %}Add Sellers{% endblock %}

{% block content %}
{% if sellers %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for ad in sellers %}
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>Seller {{forloop.counter}}</h3>
                            <p>Brand : {{ad.brand}}</p>
                            <p>Shop : {{ad.shop}}</p>
                            <p>Contact number : {{ad.contact_number}}</p>   
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mx-auto col-sm-6">
    <h3 class="text-center alert alert-info"><b>Please add a seller profile to start adding products</b></h3>
    

        <a href="{% url 'seller:add-seller-profile' %}"><button class="button is-success is-medium">
            Add seller profile</button>
        </a>
    
    <div class="text-center">
        <img src="{% static 'images/empty/puppy.jpg' %}" 
        alt="" height="300px" width="300px" class="mx-auto">
    </div>
</div>
{% endif %}

{% endblock %}