{% extends 'base.html' %}

{% block title %}Review Product{% endblock %}

{% block content %}
<div class="container my-5">

    {% if messages %}
    {% for msg in messages %}
    <p {% if msg.tags %} class="alert alert-{{msg.tags}}" {% endif %}>{{msg}}</p>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-6 text-center align-self-center">
            <img src="{{ p.image.url }}" alt="" class="img-fluid img-thumbnail" style="height: 500px;width: 400px">
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2 class="text-2xl">Product Title:
                <input type="text" id="name" name="name" value="{{p.name}}" readonly>
            </h2>
            <hr>
            <p class="text-xl"><strong>Product Description:</strong> {{p.description}}</p> <br>
            <p class="text-xl"><b>Discounted Price:
                    {{p.discountedPrice}}</b></p>
            <p class="text-xl"><b>Price:
                    {{p.price}}</b></p>
            <p class="text-xl"><b>Brand:
                    {{p.brand}}</b></p>
            <p class="text-xl"><b>Category:
                    {{p.category}}</b></p>
            <p class="text-xl"><b>Seller:
                    {{p.seller}}</b> </p>
            <br><br>

            <a href="{% url 'moderator:approve' p.id%}" class="btn btn-success ml-2">Approve</a>
            <a href="{% url 'moderator:disapprove' p.id%}" class="btn btn-danger ml-2">Disapprove</a>

        </div>
    </div>
    </form>
</div>
{% endblock %}