{% extends 'app/base.html' %}
{% block title %}Offers{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-2">
        <!-- <div class="container"> -->

        <div class="list-group p-3">
            <li class="list-group-item active" aria-current="true">Categories</li>
            <a href="{%url 'products'%}" class="list-group-item list-group-item-action">All</a>
            <a href="{%url 'filter-products' 'M'%}" class="list-group-item list-group-item-action">Mobiles</a>
            <a href="{%url 'filter-products' 'L'%}" class="list-group-item list-group-item-action">Laptops</a>
            <a href="{%url 'filter-products' 'TW'%}" class="list-group-item list-group-item-action">Top Wear</a>
            <a href="{%url 'filter-products' 'BW'%}" class="list-group-item list-group-item-action">Bottom Wear</a>

        </div>
        <!-- </div> -->
    </div>
    <div id='products' class="col-lg-9 mx-auto">
        <div class="row mx-auto">
            {% for product in product %}
            <div class="card card-hover mx-auto mb-5" id={{product.id}} style="width: 18rem;">
                <a href="{% url 'product-detail' product.id%}">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" style="height:18rem;">
                </a>
                <div class="card-body m-0 p-0" style="text-align: center;">
                    <h3 class="card-title"><b>{{product.name}}</b></h3>
                    <h4 class="card-text" style="color:green">Rs.{{product.discountedPrice}}</h4>
                    <h5 class="card-text" style="text-decoration:line-through; color:red">Rs.{{product.price}}
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}