{% extends 'app/base.html' %}

{% load static %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="container col-sm-9 offset-sm-1 text-center">
    
    <h3 class="text-center alert alert-success"><b>Congratulations!!! Password Changed Successfully</b></h3>
    <div class="container col-sm-4">
        <img src="{% static 'images/empty/puppy.jpg' %}" alt="" height="500px" width="600px"
        style="  margin-left: auto;
        margin-right: auto;">
    </div>
</div>

{% endblock %}